<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Original Text</th>
      <th>Translated Text</th>
      <th>Review Date</th>
    </tr>
  </thead>
  <tbody>
    <% @cards.each do |card| %>
    <tr>
      <th scope="row"><%= card.id %></th>
      <td><%= card.original_text %></td>
      <td><%= card.translated_text %></td>
      <td><%= card.review_date.strftime("%d/%m/%Y") %></td>
    </tr>
    <% end %>
  </tbody>
</table>