<h1 class="page-header">Карточка</h1>

<p>Original text: <%= @card.original_text %></p>
<p>Translated text: <%= @card.translated_text %></p>
<p>Review date: <%= @card.review_date.strftime("%d/%m/%Y") %></p>