<h1 class="page-header">Карточка</h1>

<p>Original text: <%= @resource.original_text %></p>
<p>Translated text: <%= @resource.translated_text %></p>
<p>Review date: <%= @resource.review_date.strftime("%d/%m/%Y") %></p>